﻿body
{	
}
.User_SpanHeading
{
font-family: Arial;
	font-size: 25px;
	line-height: 25px;
	color: #666666;
	text-decoration: none;
}
.textboxClass
{
	width:200px;
	font-family:Arial;
	
}
.dropdownClass
{
	width:200px;
	font-family:Arial;
	
}
.grdText
{
    font-family: verdana, HelveticaNeue, Helvetica, Arial, serif;
	font-size: 11px;
	line-height: 20px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.fieldsetclass
{
	border:solid 1px #176280;
}
.legendclass
{
	color:#F20A30;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
}

.AddNew_Class
{
	color:#F20A30;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
}
.AddNew_Class:hover
{
	color:green;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
}
.btnImage_AdminCP {
	width:77px;
	background-image:url(../../images/btn.png);
	background-repeat:no-repeat;
	color:#FFFFFF;
	font-size:17px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor:pointer;
	height: 29px;
	border: none;
	outline: none;
	
	}	

.btnImage_AdminCP:hover{
	
	background-image:url(../../images/btn_roll.png);
	background-repeat:no-repeat;
	color:#FFFFFF;
	font-size:17px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor:pointer;
	width:77px;
	height: 29px;
	border: none;
	outline: none;
	
	}
.btnImage_Admin {
	width:77px;
	background-image:url(../../images/btn.gif);
	background-repeat:no-repeat;
	color:#FFFFFF;
	font-size:17px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor:pointer;
	height: 29px;
	border: none;
	outline: none;
	
	}	

.btnImage_Admin:hover{
	
	background-image:url(../../images/btn_roll.gif);
	background-repeat:no-repeat;
	color:#FFFFFF;
	font-size:17px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor:pointer;
	width:77px;
	height: 29px;
	border: none;
	outline: none;
	
	}
.pagerLink {
	font-family: "Trebuchet MS";
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.pagerLink a:link  {
	font-family: "Trebuchet MS";
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.pagerLink a:visited {
	font-family: "Trebuchet MS";
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.pagerLink a:hover {
	font-family: "Trebuchet MS";
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #EE6C3A;
	text-decoration: none;
}
.pagerLink a:active {
	font-family: "Trebuchet MS";
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}

.ExportGridLink {
	font-family: "Trebuchet MS";
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.ExportGridLink:link  {
	font-family: "Trebuchet MS";
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.ExportGridLink:visited {
	font-family: "Trebuchet MS";
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.ExportGridLink:hover {
	font-family: "Trebuchet MS";
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #EE6C3A;
	text-decoration: none;
}
.ExportGridLink:active {
	font-family: "Trebuchet MS";
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.User_GridHeader
{
	background-color:#357EB3;
	font-family:Verdana;
	font-size:13px;
	font-weight:bold;
	color:#FFFFFF;
	
}
.User_RowClass
{
	background-color:#F0D3C5;
}
.User_LabelMessageClass
{
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
}
/* Rounded Corners small */
.User_btn {
	background: transparent url(../../images/adminbtnbg.jpg) no-repeat;
	border: none;
	outline: none;
	font-size:11px;
	padding-bottom:5px;

}
.User_GridLabelText
{
	font-family:Verdana;
	font-size:12px;
	color:#7A7D7D;
	font-weight:normal;
}
.User_Logindiv
{
	border:solid 1px #B3ADAE;
	border-radius: 5px;
}

.grid_header {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: bold;
text-decoration: none;
line-height: 25px;
text-transform: uppercase;
}
