﻿<%@ Page Language="C#" MasterPageFile="~/admin/mymaster.master" AutoEventWireup="true" CodeFile="Logout.aspx.cs" Inherits="admin_Logout" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table style="width: 100%; background-image: url('../images/bg_top.jpg');">
    <tr>
        <td style="color: #008080; font-size: 17pt; font-style: italic">
            You Have Succefully Logout........................</td>
    </tr>
    <tr>
        <td style="color: #008080; font-style: italic; font-size: 13pt">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:ImageButton ID="ImageButton1" runat="server" Height="67px" 
                ImageUrl="~/admin/images/click1.jpg" Width="169px" 
                onclick="ImageButton1_Click" />
            To Login Again........</td>
    </tr>
</table>
</asp:Content>

