
.vest {
	font-family: Verdana;
	font-size: 11px;
	line-height: 17px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/bg.jpg);
}
.button {
	font-family: Mistral;
	font-size: 22px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.button a:link {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.button a:visited {

	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.button a:hover {

	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.button a:active {

	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #666666;
	text-decoration: none;
}
.toprk {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #0777A7;
	text-decoration: none;
	font-weight: normal;

}
.webtech {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.webtech a:link {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.webtech a:visited {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.webtech a:hover {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #660000;
	text-decoration: none;
	line-height: 20px;
}
.webtech a:active {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.contact a:link {
	font-family: Tahoma;
	font-size: 12px;
	line-height: normal;
	color: #666666;
	text-decoration: none;
	font-weight: bold;	
}
.contact a:visited {
	font-family: Tahoma;
	font-size: 12px;
	line-height: normal;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
}
.contact a:hover {
	font-family: Tahoma;
	font-size: 12px;
	line-height: normal;
	color: #000000;
	text-decoration: none;
	font-weight: bold;	
}


.contact a:active {
	font-family: Tahoma;
	font-size: 12px;
	line-height: normal;
	color: #666666;
	text-decoration: none;
	font-weight: bold;	
}
.title {
	font-family: Verdana;
	font-size: 13px;
	line-height: normal;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.text01 {
	font-family: Verdana;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	line-height: 18px;
	text-align: justify;
}
.text1 {
	font-family: Tahoma;
	font-size: 12px;
	color: #000000;
	text-decoration: none;

}
.title {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.sit {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.sit a:link {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.sit a:visited {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.sit a:hover {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	text-decoration: underline;
}
.sit a:active {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.add {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.add a:link {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.add a:visited {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.add a:hover {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	line-height: 20px;
}
.add a:active {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.head {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	background-color: #99CC33;
}
.cadd {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.cadd a:link {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.cadd a:visited {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.cadd a:hover {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #336699;
	text-decoration: none;
	line-height: 20px;
}
.cadd a:active {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.title01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	color: #FFFFFF;
}
.title02 {
	font-family: "Trebuchet MS";
	font-size: 14px;
	line-height: 25px;
	font-weight: normal;
	color: #0163B4;
	text-decoration: none;
	font-style: normal;
}
.title03 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: #FFFFFF;
}
.bottom {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #F0F0F0;
	text-decoration: none;
}
.bottom a:link {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #F0F0F0;
	text-decoration: none;
}
.bottom a:visited {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #F0F0F0;
	text-decoration: none;
}
.bottom a:hover {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #D0E8FB;
	text-decoration: none;
}
.bottom a:active  {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #F0F0F0;
	text-decoration: none;
}
.con {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 20px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}
.link a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}
.link a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}
.link a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #CC9933;
	text-decoration: none;
}
.link a:active  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}
.txt01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.txt02 {
	font-family: "Trebuchet MS";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.txt02 :link {
	font-family: "Trebuchet MS";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.txt02 a:visited {
	font-family: "Trebuchet MS";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.txt02 a:hover {
	font-family: "Trebuchet MS";
	font-size: 12px;
	line-height: 20px;
	color: #666666;
	text-decoration: none;
}
.txt02 a:active  {
	font-family: "Trebuchet MS";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.btn_01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
}
.btn_01 a:link  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
}
.btn_01 a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
}
.btn_01 a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	line-height: 20px;
}
.btn_01 a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
}
.btn_02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
}
.btn_02 a:link  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 20px;
	text-decoration: none;
}
.btn_02 a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
}
.btn_02 a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #FFFF00;
	line-height: 20px;
}
.btn_02 a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 20px;
}
.btn_03 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FC5D00;
	text-decoration: none;
	line-height: 20px;
}
.btn_03 a:link  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #6698CB;
	line-height: 20px;
	text-decoration: none;
}
.btn_03 a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #6698CB;
	text-decoration: none;
	line-height: 20px;
}
.btn_03 a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #333333;
	line-height: 20px;
}
.btn_03 a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #6698CB;
	text-decoration: none;
	line-height: 20px;
}
.btn_04 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2D6AB7;
	text-decoration: none;
	line-height: 20px;
}
.btn_04 a:link  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2D6AB7;
	text-decoration: none;
	line-height: 20px;
}
.btn_04 a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2D6AB7;
	text-decoration: none;
	line-height: 20px;
}
.btn_04 a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
}
.btn_04 a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2D6AB7;
	text-decoration: none;
	line-height: 20px;
}
.btn_05 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
	line-height: 18px;
}
.btn_05 a:link  {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
	line-height: 18px;
}
.btn_05 a:visited {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
	line-height: 18px;
}
.btn_05 a:hover {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
}
.btn_05 a:active {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
	line-height: 18px;
} 
.ibdr {
	border: 1px solid #CCCCCC;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
a:hover .ibdr { border: 3px solid #039FC7; }

/* I'm confused about the line below. */
a:hover { color: #fff; } 
.partner {
	border: 1px solid #F5F5F5;
}
a:hover .partner { border: 1px solid #BEDA26; }

/* I'm confused about the line below. */
a:hover { color: #fff; } 
/**
 * Mail form
 */
#mailform label {
	float: left;
	width: 70px;
}
#mailform input,
#mailform textarea {
	float: left;
	width: 195px;
	margin-bottom: 10px;
}
input{
	border:1px solid #E4E4E4;
	color:#333333;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	height:15px;
	margin:0px;
	padding-left:4px;
	padding-right:4px;
	padding-top:2px;
	padding-bottom:0px;
	background-repeat: repeat-x;
	background-color: #F9F9F9;
}
.button-class{height:auto; background:none; border:none; width:auto; padding:0px; margin:0px;}
#menu1 a {color:black;background-color:white;text-decoration:none;text-indent:1ex;}
#menu1 a:active {color:black;text-decoration:none;}
#menu1 a:hover {color:black;background-color:#FFFF99}
#menu1 a:visited {color:black;text-decoration:none;}

#menu2 a {color:navy;background-color:white;text-decoration:none;text-indent:1ex;}
#menu2 a:active	{color:blue;text-decoration:none;}
#menu2 a:visited {color:blue;text-decoration:none;}
#menu2 a:hover {color:navy;background-color:#f0fea8}

#menu3 a { /*Menu3 Links*/
color:black;
background-color:white;
text-decoration:none;
text-indent:1ex;
}
#menu3 a:hover {
color:black;background-color:#FFFF99;
}
#menu3 a:active	{color:black;text-decoration:none;}
#menu3 a:visited	{color:black;text-decoration:none;}
.box_type_2 {
	width:315px;
	color:#444548;
	background-image: url(../images/admin_design.png);
	height: 675px;
	float: left;
	vertical-align:top;
}
.box_type_1 {
	color:#444548;
	background-image: url(../images/bottom.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	height: 99px;
}
.box_type_3 {
	width:686px;
	margin-top:15px;
	background-image: url(../images/page_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 0;
	padding-left: 15px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 17px;
	color: #333333;
	text-decoration: none;
}
.btn_06 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
}
.btn_06 a:link  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
}
.btn_06 a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
}
.btn_06 a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #0A3C7B;
	text-decoration: none;
	line-height: 20px;
}
.btn_06 a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
}
button.search {
	border: 0;
	width: 150px;
	height: 25px;
	margin: 0 0 0 0px;
	background-image: url(../images/submit.jpg);
	background-repeat: no-repeat;
}
button.search:hover {
	background-image: url(../images/submit_01.jpg);
	cursor: pointer;
}
button.search span {
	display: none;
}
.posText {
	width:90px;
	background-color:#0C3879;
	color:#FFFFFF;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor:pointer;
	text-transform: uppercase;
	line-height: 22px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 1px solid #333333;
	height: 25px;
	}	

.posText:hover{
	width:90px;
	background-color:#333333;
	color:#FFFFFF;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor:pointer;
	line-height: 22px;
	text-transform: uppercase;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 1px solid #333333;
	}	
.btnText {
	width:80px;
	height:30px;
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding-left:5px;
	padding-top:5px;
	color:#999999;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor:pointer;
	padding-bottom: 5px;
	}	

.btnText:hover{
	width:80px;
	height:30px;
	background-color:#EEEEEE;
	border:1px solid #CCCCCC;
	padding-left:5px;
	padding-top:5px;
	color:#999999;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor:pointer;
	padding-bottom: 5px;
	}	
	
/*Form Styles*/

.text {
	width:230px;
	height:20px;
	background-color:#FCFCFC;
	border:1px solid #CCCCCC;
	padding-left:5px;
	padding-top:0px;
	color:#666666;
	font-size:12px;
	font-family:verdana,helvetica,sans-serif;
	}
	
.posText {
	width:230px;
	height:100px;
	background-color:#EFEFEF;
	border:1px solid #313D40;
	padding-left:5px;
	padding-top:5px;
	color:#666666;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	}	

input.text:focus	{
	border: 1px solid #666666;
	background-color: #F2EFEA;
}

textarea.posText:focus	{
	border: 1px solid #1B2123;
	background-color: #101415;
}

fieldset {
	border:none;
	}






		


