.chromestyle{
width: 100%;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul{
border: 0px solid #BBB;
width: 100%;
background-color: #000000; /*THEME CHANGE HERE*/
padding: 5px 0;
margin: 0;
text-align: left; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li{
width: 100%;
display: inline;
}

.chromestyle ul li a{
font:normal 13px Verdana;
line-height:14px;
color: #FFF;
font-weight: bold;
padding: 5px 10px;
margin: 0;
text-decoration: none;
border-right: 1px solid #ffffff;
}

.chromestyle ul li a:hover, .chromestyle ul li a.selected{ /*script dynamically adds a class of "selected" to the current active menu item*/
width: 100%;
color: #cccccc; 
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
border: 0px solid #FFF; /*THEME CHANGE HERE*/
font:normal 12px Verdana;
line-height:28px;
z-index:100;
background-color:#696969;
width: 150px;
visibility: hidden;
}


.dropmenudiv a{
width: auto;
display: block;
text-indent: 3px;
border: 0px solid #000; /*THEME CHANGE HERE*/
padding: 0px 0;
text-decoration: none;
font-weight: bold;
color: white;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background-color: #777676;
}


.link_new {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.link_new a:link {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.link_new a:visited {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.link_new a:hover {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #7D1A77;
	text-decoration: none;
}
.link_new a:active  {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}



.link_new1 {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}
.link_new1 a:link {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}
.link_new1 a:visited {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}
.link_new1 a:hover {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #cccccc;
	text-decoration: none;
}
.link_new1 a:active  {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}

.ibdr_border {
	background-color: #FFFFFF;
	border: 6px solid #DDDDDD;
}

.text {
	width:auto;
	height:23px;
	background-color:#FCFCFC;
	border:1px solid #CCCCCC;
	padding-left:2px;
	padding-top:2px;
	color:#666666;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	}
.posText {
	width:80px;
	height:30px;
	background-color:#EBBD0F;
	padding-left:2px;
	padding-top:2px;
	color:#FFFFFF;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor:pointer;
	padding-bottom: 2px;
	 -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #EBBD0F;
	}	

.posText:hover{
	width:80px;
	height:30px;
	background-color:#FFFFFF;
	padding-left:2px;
	padding-top:2px;
	color:#999999;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor:pointer;
	padding-bottom: 2px;
	 -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #FFFFFF;
	}	
.title01 {
	font-family: "Century Gothic";
	font-size: 24px;
	font-weight: normal;
	color: #CCCCCC;
	text-decoration: none;
	line-height: 28px;
	font-style: normal;
}
.btn_05 {
	font-family: Calibri;
	font-size: 13px;
	font-weight: normal;
	color: #FFCC00;
	text-decoration: none;
	line-height: 18px;
}
.btn_05 a:link  {
	font-family: Calibri;
	font-size: 13px;
	font-weight: normal;
	color: #FFCC00;
	text-decoration: none;
	line-height: 18px;
}
.btn_05 a:visited {
	font-family: Calibri;
	font-size: 13px;
	font-weight: normal;
	color: #FFCC00;
	text-decoration: none;
	line-height: 18px;
}
.btn_05 a:hover {
	font-family: Calibri;
	font-size: 13px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
}
.btn_05 a:active {
	font-family: Calibri;
	font-size: 13px;
	font-weight: normal;
	color: #FFCC00;
	text-decoration: none;
	line-height: 18px;
} 
#gray{
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #333333;
}
