/* CSS Document */

body{
	margin: 0;
	padding: 0;
	background-repeat: repeat;
	background-color: #000000;
}

.wrapper {margin: auto; padding: 0; min-height: 330px; background-image: url(../images/bg.jpg); background-repeat: repeat-x; background-position: center top;}

.txt {
	font-family: Arial;
	font-size: 13px;
	line-height: 19px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.web a:active {
	font-family: Verdana;
	font-size: 11px;
	line-height: 18px;
	font-weight: normal;
	color: #767474;
	text-decoration: none;
}
.web_01 {
	font-family: Verdana;
	font-size: 11px;
	line-height: 18px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.web_01 a:link  {
	font-family: Verdana;
	font-size: 11px;
	line-height: 18px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.web_01 a:visited {
	font-family: Verdana;
	font-size: 11px;
	line-height: 18px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.web_01 a:hover {
	font-family: Verdana;
	font-size: 11px;
	line-height: 18px;
	font-weight: normal;
	color: #EAC555;
	text-decoration: none;
}
.web_01 a:active {
	font-family: Verdana;
	font-size: 11px;
	line-height: 18px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
