﻿
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-position: center top;
	background-repeat: repeat-x;
}
.wrapper {
	margin: auto;
	padding: 0;
	min-height: 517px;
	background-image: url(../images/top_bg.jpg);
	background-position: center top;
}

.login_new1 {
	font-family: "Trebuchet MS";
	font-size: 17px;
	line-height: 19px;
	font-weight: normal;
	color: #88350B;
}
.btnImage_png {
	width:77px;
	background-image:url(../images/btn.png);
	background-repeat:no-repeat;
	color:#FFFFFF;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor:pointer;
	height: 29px;
	border:none;
	outline:none;
	
	}	

.btnImage_png:hover{
	
	background-image:url(../images/btn_roll.png);
	background-repeat:no-repeat;
	color:#FFFFFF;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor:pointer;
	width:77px;
	height: 29px;
	border:none;
	outline:none;
	
	}
.text {
	font-family: "Trebuchet MS";
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	line-height: 25px;
	font-weight: normal;
}
.contact_text {
	font-family: Arial;
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	line-height: 21px;
	font-weight: normal;
}
.companytext {
	font-family: "Trebuchet MS";
	font-size: 16px;
	color: #6F8E0C;
	text-decoration: none;
	line-height: 22px;
	font-weight: bold;
}
.hometitle {
	font-family: Calibri;
	font-size: 24px;
	color: #333333;
	text-decoration: none;
	line-height: 28px;
	font-weight: normal;
}
.productimg {
	font-family: Calibri;
	font-size: 18px;
	color: #535353;
	text-decoration: none;
	line-height: 28px;
	font-weight: normal;
}
.maillink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #708526;
	text-decoration: none;
}
.maillink a:link  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #708526;
	text-decoration: none;
}
.maillink a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #708526;
	text-decoration: none;
}
.maillink a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.maillink a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #708526;
	text-decoration: none;
}
.information {
	font-family: georgia, 'times new roman', times, serif;
	font-size: 23px;
	line-height: 28px;
	font-weight: normal;
	color: #516809;
	text-decoration: none;
	font-style: italic;
}
.information a:link  {
	font-family: georgia, 'times new roman', times, serif;
	font-size: 23px;
	line-height: 28px;
	font-weight: normal;
	color: #516809;
	text-decoration: none;
	font-style: italic;
}
.information a:visited {
	font-family: georgia, 'times new roman', times, serif;
	font-size: 23px;
	line-height: 28px;
	font-weight: normal;
	color: #516809;
	text-decoration: none;
	font-style: italic;
}
.information a:hover {
	font-family: georgia, 'times new roman', times, serif;
	font-size: 23px;
	line-height: 28px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	font-style: italic;
}
.information a:active {
	font-family: georgia, 'times new roman', times, serif;
	font-size: 23px;
	line-height: 28px;
	font-weight: normal;
	color: #516809;
	text-decoration: none;
	font-style: italic;
}
.sitemaplink {
	font-family: "Geometr231 BT";
	font-size: 20px;
	line-height: 25px;
	font-weight: bold;
	color: #708526;
	text-decoration: none;
}
.sitemaplink a:link  {
	font-family: "Geometr231 BT";
	font-size: 20px;
	line-height: 25px;
	font-weight: bold;
	color: #708526;
	text-decoration: none;
}
.sitemaplink a:visited {
	font-family: "Geometr231 BT";
	font-size: 20px;
	line-height: 25px;
	font-weight: bold;
	color: #708526;
	text-decoration: none;
}
.sitemaplink a:hover {
	font-family: "Geometr231 BT";
	font-size: 20px;
	line-height: 25px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.sitemaplink a:active {
	font-family: "Geometr231 BT";
	font-size: 20px;
	line-height: 25px;
	font-weight: bold;
	color: #708526;
	text-decoration: none;
}
.sitemap_p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	color: #505F1B;
	text-decoration: none;
}
.sitemap_p a:link  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	color: #505F1B;
	text-decoration: none;
}
.sitemap_p a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	color: #505F1B;
	text-decoration: none;
}
.sitemap_p a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.sitemap_p a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	color: #505F1B;
	text-decoration: none;
}
.hometitle_01 {
	font-family: Calibri;
	font-size: 24px;
	color: #6F8E0B;
	text-decoration: none;
	line-height: 28px;
	font-weight: normal;
}
.maintitle_01 {
	font-family: "Geometr231 BT";
	font-size: 23px;
	color: #333333;
	text-decoration: none;
	line-height: 28px;
	font-weight: bold;
}
.productlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	color: #708526;
	text-decoration: none;
}
.productlink a:link  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	color: #708526;
	text-decoration: none;
}
.productlink a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	color: #708526;
	text-decoration: none;
}
.productlink a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.productlink a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	color: #708526;
	text-decoration: none;
}
.web {
	font-family: Verdana;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.web a:link  {
	font-family: Verdana;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.web a:visited {
	font-family: Verdana;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.web a:hover {
	font-family: Verdana;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #6F8E0C;
	text-decoration: none;
}
.web a:active {
	font-family: Verdana;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
}
.img {
	display:block;
	width:127px;
	height:172px;
	position:relative;
	z-index:1;
}
.img:hover {
	margin-top:-10px;
}
.img:active {
	top:-5px;
}
.galleryimg {
	display:block;
	width:181px;
	height:205px;
	position:relative;
	z-index:1;
}
.galleryimg:hover {
	margin-top:-10px;
}
.galleryimg:active {
	top:-5px;
}
.socialicon {
	display:block;
	width:23px;
	height:22px;
	position:relative;
	z-index:1;
}
.socialicon:hover {
	margin-top:-3px;
}
.socialicon:active {
	top:-5px;
}

/*Form Styles*/

.formtext {
	width:150px;
	height:22px;
	border:1px solid #D9D2C8;
	color:#4B3F26;
	font-size:14px;
	padding: 2px;
	font-family: "Trebuchet MS";
	background-color: #FFF;

	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	background-image: url(../images/formbg.jpg);
	background-repeat: repeat-x;
}
.addtext {
	width:440px;
	height:50px;
	background-color:#FFF;
	border:1px solid #D9D2C8;
	color:#4B3F26;
	font-size:12px;
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif;

	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	background-image: url(../images/formbg.jpg);
	background-repeat: repeat-x;
}
.posText {
	width:100px;
	height:28px;
	background-color:#6F8E0B;
	border:2px solid #D9D2C8;
	color:#FFFFFF;
	font-size:13px;
	font-family:Arial;
	padding-bottom: 0px;
	font-weight: bold;
	cursor:pointer;
}
.posText:hover {
	background-color:#525151;
}
.gallerysmall {
	display:block;
	width:141px;
	height:186px;
	position:relative;
	z-index:1;
}
.gallerysmall:hover {
	margin-top:-10px;
}
.gallerysmall:active {
	top:-5px;
}

#scrollbar_container {
	position:relative;
	width:570px;
}

#scrollbar_track {
	position:absolute;
	top:0;
	right:0;
	height:100%;
	width:10px;
	background: transparent url(../images/bg-scrollbar-track-y.png) repeat 0 0;
	cursor:move;
}

#scrollbar_handle {
	width:10px;
	background-color:#ACACAC;
	cursor:move;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	opacity:0.9;
    -moz-opacity:0.9;
}

#scrollbar_content {
	overflow:hidden;
	width:555px;
	height:350px;
}
.txt {
	font-family: "Trebuchet MS";
	font-size: 13px;
	line-height: 19px;
	font-weight: normal;
	color: #4B3F26;
	text-decoration: none;
}
.formtext_01 {
	width:110px;
	height:16px;
	border:1px solid #999999;
	color:#000;
	font-size:12px;
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	text-transform:uppercase;
	margin-left: 38px;
}

.formtext_011 {
	border:1px solid #999999;
	color:#000;
	font-size:12px;
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	text-transform:uppercase;
}
.formtext_email {
	width:192px;
	height:16px;
	border:1px solid #999999;
	color:#000;
	font-size:12px;
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	text-transform:lowercase;
}
.formtext_012 {
	width:250px;
	height:16px;
	border:1px solid #999999;
	color:#000;
	font-size:12px;
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	text-transform:uppercase;
}

.link_new {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.link_new a:link {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.link_new a:visited {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.link_new a:hover {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #7D1A77;
	text-decoration: none;
}
.link_new a:active  {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.redtext
{
	color:Red;
	font-family: Tahoma;
	font-size: 11px;
	line-height: 12px;
	font-weight: normal;
	text-decoration: none;
}

.accountbg {
	position:relative;
	padding:0px 0px 0px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-repeat: repeat;
	background-color: #ffffff;
	border: 1px dashed #C10C01;
	top: 0px;
	left: 0px;
}
.rs_01 {
	font-family: "Trebuchet MS";
	font-size: 12px;
	line-height: 19px;
	font-weight: bold;
	color: #DB1717;
}

.loginStudent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	color: #FFFFFF;
}


.btn_0555 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
	line-height: 18px;
}
.btn_0555 a:link  {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
	line-height: 18px;
}
.btn_0555 a:visited {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
	line-height: 18px;
}
.btn_0555 a:hover {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 18px;
}
.btn_0555 a:active {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
	line-height: 18px;
} 

.textlogin {
	width:230px;
	height:20px;
	background-color:#FCFCFC;
	border:1px solid #CCCCCC;
	padding-left:5px;
	padding-top:0px;
	color:#666666;
	font-size:12px;
	font-family:verdana,helvetica,sans-serif;
}
	
	.btnText1 {
	width:80px;
	height:30px;
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding-left:5px;
	padding-top:5px;
	color:#999999;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor:pointer;
	padding-bottom: 5px;
	}
